*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  background: lightgrey;
}

video {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
  }
  .vinyl-wrapper {
    position: relative;
    display: block;
    margin: 150px;
    width: 200px;
    height: 200px;
    transform: rotateX(10deg) rotateZ(-20deg);
  }

  .GroovIn {
    color:wheat;
  }
  
  .record-sleeve {
    width: 200px;
    height: 200px;
    position: center;
    background-color: black;
    background: -webkit-radial-gradient(49% 50%, circle, transparent 27%, #8c737c 10%);
    background: -moz-radial-gradient(49% 50%, circle, transparent 27%, #8c737c 10%);
    background: radial-gradient(49% 50%, circle, transparent 27%, #8c737c 10%);
    border-radius: 2px;
    box-shadow: -3px 5px 10px -1px grey;
    z-index: 10;
  }
  
  .vinyl {
    position: absolute;
    -ms-transform: translate(69px);
    transform: translate(69px);
    top: 70px;
    background:whitesmoke;
    width: 58px;
    height: 60px;
    border-radius: 50%;
    border: solid palegoldenrod;
    border-width: 29px 0px;
    border-left: 0;
    animation: pull-out 5s 5s ease-out forwards, spin 5s 5s linear infinite;
    box-shadow: 0px 0px 3px wheat, 0px 0px 0px 10px wheat, 0px 0px 15px , 0px 0px 0px 16px #000, 0px 0px 0px 17px #252424, 0px 0px 0px 18px #000, 0px 0px 0px 19px #313030, 0px 0px 0px 20px #000, 0px 0px 0px 21px #3a3838, 0px 0px 0px 22px #000, 0px 0px 0px 23px #2b2a2a, 0px 0px 0px 24px #000, 0px 0px 0px 25px #313030, 0px 0px 0px 26px #000, 0px 0px 0px 27px #313030, 0px 0px 0px 28px #000, 0px 0px 0px 29px #333333, 0px 0px 0px 30px #000, 0px 0px 0px 31px #333232, 0px 0px 0px 32px #000, 0px 0px 0px 33px #4c4a4a, 0px 0px 0px 34px #000, 0px 0px 0px 35px #2f2e2e, 0px 0px 0px 36px #000, 0px 0px 0px 37px #252424, 0px 0px 0px 38px #000, 0px 0px 0px 39px #2f2e2e, 0px 0px 0px 40px #000, 0px 0px 0px 41px #2f2e2e, 0px 0px 0px 42px #000, 0px 0px 0px 55px #2f2e2e, 0px 0px 0px 56px #000, 0px 0px 0px 57px #2f2e2e, 0px 0px 0px 58px #cecece, 0px 0px 0px 59px #2f2e2e;
  }
  
  .vinyl:before {
    content: "";
    position: absolute;
    width: 6px;
    height: 6px;
    background: white;
    top: calc(50% - 3px);
    left: calc(50% - 3px);
    border-radius: 50%;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
      left: 300px;
    }
    100% {
      transform: rotate(360deg);
      left: 300px;
    }
  }
  
  @keyframes pull-out {
    0% {
      transform: translateX(69px);
    }
    100% {
      transform: translateX(300px);
    }
  }
  
  .Head-container {
    /* background: url('/images/img-home.jpg') center center/cover no-repeat; */
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
    object-fit: contain;
  }
  
  .Head-container > h1 {
    color: #fff;
    font-size: 100px;
    margin-top: -100px;
    font-family: bd-geminis, sans-serif;
  }
  
  .Head-container > p {
    margin-top: 8px;
    color: #fff;
    font-size: 32px;
    font-family: 'Work Sans', sans-serif;;
;
  }
  
  
  @media screen and (max-width: 960px) {
    .Head-container > h1 {
      font-size: 70px;
      margin-top: -150px;
    }
  }
  
  @media screen and (max-width: 768px) {
    .Head-container > h1 {
      font-size: 50px;
      margin-top: -100px;
    }
  
    .Head-container > p {
      font-size: 30px;
    }
  
  }